<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="outline" color="danger" *ngIf="!isAuthenticated()" (click)="goLoginPage()">
        Login
      </ion-button>
      <div *ngIf="isAuthenticated()" style="display: flex; align-items: center">
        <ion-chip color="success" (click)="toggleLogout()">
          <ion-avatar>
            <img alt="Silhouette of a person's head" [src]="getUser()?.photo" />
          </ion-avatar>
          <ion-label id="lblUsername" color="success">{{ getUser()?.username }}</ion-label>
        </ion-chip>

        <div *ngIf="showLogout" [@fadeInOut]>
          <ion-button color="danger" (click)="logout()">
            Logout
          </ion-button>
        </div>
      </div>
    </ion-buttons>
    <ion-title>
      MOVIEW
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">Home</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->

  <div id="container">
    <a routerLink="/admin/movie">Admin</a>
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer Toolbar</ion-title>
  </ion-toolbar>
</ion-footer>
