<ion-content [fullscreen]="true">
  <main id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>LOGIN</ion-card-title>
        <ion-card-subtitle>Please sign-in to your account and start the adventure 🚀</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div
          style="margin-bottom: 12px;"
          *ngIf="errorMessage"
          [@fadeInOut]
        >
          <ion-chip color="danger" class="full-chip">User not found</ion-chip>
        </div>
        <ion-item>
          <ion-input
            label="Username"
            labelPlacement="floating"
            placeholder="your username"
            fill="outline"
            [(ngModel)]="user.username"
          ></ion-input>
        </ion-item>

        <div style="margin-top: 12px;">
          <ion-item>
            <ion-input
              label="Password"
              labelPlacement="floating"
              placeholder="******"
              type="password"
              fill="outline"
              [type]="showPassword ? 'text' : 'password'"
              [(ngModel)]="user.password"
            >
            </ion-input>
            <ion-icon
              [name]="showPassword ? 'eye-off' : 'eye'"
              slot="end"
              class="password-toggle-icon"
              (click)="togglePassword()"
            ></ion-icon>
          </ion-item>
        </div>

        <ion-button
          fill="solid"
          expand="full"
          id="btnLogin"
          color="dark"
          (click)="doLogin()"
        >
          Login
        </ion-button>

        <ion-card-subtitle id="linkRegist">Not registered? <a [routerLink]="['/registration']">Create account</a></ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </main>
</ion-content>
