<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>addMovie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">addMovie</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-input type="text" label="Poster URL" labelPlacement="floating" [(ngModel)]="new_poster">
      </ion-input>
      <ion-img *ngIf="new_poster" [src]="new_poster" style="width: 400px;"></ion-img>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Movie Title" labelPlacement="floating" [(ngModel)]="new_judul">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Genre" labelPlacement="floating" [(ngModel)]="new_genre">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Tanggal Rilis</ion-label>
      <ion-datetime [(ngModel)]="new_tanggal" displayFormat="MMM DD, YYYY" placeholder="Select Date">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Director" labelPlacement="floating" [(ngModel)]="new_sutradara">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea rows="4" label="Synopsis" labelPlacement="floating" [(ngModel)]="new_sinopsis" [autoGrow]="true">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Actor Name</ion-label>
      <ion-input [(ngModel)]="new_actor_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Actor Role</ion-label>
      <ion-input [(ngModel)]="new_actor_role"></ion-input>
    </ion-item>
    <ion-button expand="full" color="primary" (click)="addActor()">Add Actor</ion-button>
    <ion-list>
      <ion-item *ngFor="let actor of new_actors; let i = index">
        <ion-label>{{ actor.name }} as {{ actor.role }}</ion-label>
        <ion-button (click)="removeActor(i)" color="danger" fill="clear">
          Hapus
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-button id="btnsubmit" expand="full" color="primary" (click)="addmovie()">Add Movie</ion-button>
    <ion-alert trigger="btnsubmit" header="Add Movie" message="Data Successfully stored" [buttons]="alertButtons"></ion-alert>
  </ion-list>
</ion-content>